<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="customHelpPage" value="Default.htm" />
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="WcfServiceLibrary.HelloWorld">
        <endpoint address="HelloWorld" 
                  binding="basicHttpBinding" 
                  contract="WcfServiceLibrary.IHelloWorld"/>
        <endpoint address="" 
                  binding="customBinding" 
                  bindingConfiguration="landingPage" 
                  contract="WcfServiceLibrary.ILandingPage"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Service"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="landingPage">
          <textMessageEncoding messageVersion="None"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
