<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  
  <system.serviceModel>
    
    <services>
      <service name="WcfServiceLibrary.HelloWorld">
        <endpoint address="E1" binding="basicHttpBinding" contract="WcfServiceLibrary.IHelloWorld"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="" binding="customBinding" bindingConfiguration="landingPage" contract="WcfServiceLibrary.ILandingPage"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/HelloWorld/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="landingPage">
          <textMessageEncoding messageVersion="None"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
